@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: normal;
  font-weight: 400;
  color: #333;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

.jobDescriptionWrapper {
  margin: 2rem 0;
  border-top: 1px solid #333;
}

.btn-container {
  width: 100%;
  margin: 2rem 0;
}

.button {
  margin: 3rem auto 2rem;
  padding: 0.5rem 1.25rem;
  min-width: 220px;
  text-align: center;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 5;
  background-color: #3f56ad;
  transition: all 0.25s ease-in-out;
  font-weight: 700;
  color: #fff;
}

.button:hover {
  background-color: #333;
}

.back-btn {
  margin: 1rem auto 1rem;
  color: #333;
  background-color: #fff;
  border: none;
}

.back-btn:hover {
  color: #3f56ad;
  background-color: #fff;
}

.hidden {
  display: none;
}

.colWrapper {
  display: flex;
}

.w-34 {
  width: 34%;
  display: inline-block;
  padding-right: 1rem;
}

.w-50 {
  width: 50%;
  display: inline-block;
  padding: 0 2rem;
}

.w-66 {
  width: 66%;
  display: inline-block;
}

h2.formTitle {
  margin: 3rem 0 0;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
}

form {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: left;
}

.fieldWrapper {
  margin: 1.25rem 0;
}

label {
  font-weight: 600;
  line-height: 1.3;
  display: block;
}

input,
textarea,
select {
  margin: 0.25rem 0 0;
  padding: 0 0.5rem;
  width: 100%;
  border: 1px solid #999;
  height: 2rem;
}

option[value=""] {
  font-weight: 600;
}

textarea {
  height: 214px;
}

.jobForm textarea {
  height: 190px;
}

select {
  background-color: #fff;
  box-shadow: none;
}

form .btn-container {
  margin: 2rem auto 1rem;
}

form .button {
  margin: 1rem auto;
}

@media (max-width: 992px) {
  .colWrapper {
    display: block;
  }

  .w-50 {
    width: 100%;
    display: block;
    padding: 0 1rem;
  }
}
