.menuIcon {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.menuIcon_burger {
  width: 18px;
  height: 4px;
  background: #666;
  transition: all 0.5s ease-in-out;
}

.menuIcon_burger:before,
.menuIcon_burger:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  margin-left: -12px;
  background: #666;
  transition: transform 0.5s ease-in-out;
}

.menuIcon_burger:before {
  transform: translateY(-12px);
}

.menuIcon_burger:after {
  transform: translateY(12px);
}

/* Animation */
.menuIcon.open .menuIcon_burger {
  transform: translateX(-50px);
  background: transparent;
}

.menuIcon.open .menuIcon_burger:before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menuIcon.open .menuIcon_burger:after {
  transform: rotate(-45deg) translate(35px, 35px);
}
