.bannerWrapper {
  padding: 0 1rem;
  margin: 0 auto;
  overflow: hidden;
}

.holidayBanner {
  width: 100%;
  max-width: calc(1280px - 2rem);
  height: auto;
  margin: 4rem auto 0;
  background-color: #3f56ad;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  text-decoration: none;
}

.col1 {
  width: 55%;
  padding: 0.5rem;
  overflow: hidden;
}

.bannerTitle {
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
  margin: 0.5rem 1rem 0.5rem;
  font-weight: 600;
  text-align: center;
}

.bannerText {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: #fff;
  margin: 0.5rem 1rem 1rem;
  text-align: center;
}

.col2 {
  width: calc(45% - 0.5rem);
  margin: auto 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  height: fit-content;
}

.holidayBanner .imgWrapper {
  display: flex;
  overflow: hidden;
  width: calc(33.333% - 0.5rem);
  align-items: center;
  margin: 1rem 0.5rem;
  max-height: 200px;
}

.holidayBanner .img {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
  float: none;
  max-width: initial;
  margin: 0;
}

.holidayBanner .button {
  max-width: 240px;
  background-color: #111;
  margin: 2rem auto 1rem;
  transition: background-color 0.5s ease-in-out;
}

.holidayBanner .button:hover {
  background-color: #333;
}

@media (max-width: 1244px) {
  .bannerWrapper {
    padding: 0 3rem;
  }

  .col1 {
    width: 60%;
    padding: 1rem 2rem;
  }

  .bannerTitle {
    margin: 0.5rem 0 0.5rem;
  }

  .bannerText {
    margin: 0.5rem 0;
  }

  .col2 {
    width: calc(40% - 0.5rem);
    padding-right: 1rem;
  }

  .holidayBanner .imgWrapper {
    max-height: 260px;
    width: 50%;
  }

  .holidayBanner .imgWrapper:nth-of-type(2) {
    margin-right: 0;
  }

  .holidayBanner .imgWrapper:last-of-type {
    display: none;
  }
}

@media (max-width: 1150px) {
  .holidayBanner {
    justify-content: center;
    align-items: center;
  }

  .col1 {
    width: 55%;
    padding: 1rem 1.5rem;
  }

  .bannerTitle {
    margin: 0 0 0.5rem;
  }

  .col2 {
    width: calc(45% - 0.5rem);
  }
}

@media (max-width: 922px) {
  .holidayBanner {
    flex-direction: column;
    padding: 1rem 1rem 1.25rem 1rem;
  }

  .col1 {
    width: calc(100% - 0.5rem);
    padding: 0;
  }

  .bannerTitle {
    margin: 0 0 0.5rem;
    text-align: center;
  }

  .bannerText {
    margin: 0.5rem 0;
    text-align: center;
  }

  .holidayBanner .button {
    margin: 2rem auto 2rem;
  }

  .col2 {
    width: calc(100% - 0.5rem);
    margin-bottom: 0;
    padding: 0;
  }

  .holidayBanner .imgWrapper {
    height: 200px;
    width: 50%;
    margin: auto 0.5rem auto 0;
    align-items: initial;
  }

  .holidayBanner .imgWrapper:first-of-type {
    margin-left: 0;
  }

  .holidayBanner .imgWrapper:nth-of-type(2) {
    margin-right: 0.5rem;
  }

  .holidayBanner .imgWrapper:last-of-type {
    display: initial;
    margin-right: 0;
  }

  .holidayBanner .img {
    height: 200%;
  }
}

@media (max-width: 768px) {
  .bannerWrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .holidayBanner .imgWrapper {
    width: 50%;
  }

  .holidayBanner .imgWrapper:nth-of-type(2) {
    margin: 0;
  }

  .holidayBanner .imgWrapper:last-of-type {
    display: none;
  }

  .holidayBanner .img {
    height: 150%;
  }
}

@media (max-width: 500px) {
  .holidayBanner .imgWrapper {
    width: 100%;
    margin: 0;
  }

  .holidayBanner .imgWrapper:nth-of-type(2) {
    display: none;
  }
}
