.container {
  max-width: 1280px;
  margin: 40px auto 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.catBoxRow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catBox {
  margin: 14px 12px;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 31%;
  height: 249px;
}

.catTextBox {
  margin: 14px 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 31%;
}

.catTextTitle {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 2px;
  /* font-family: "Libre Baskerville"; */
  font-weight: 400;
  color: #131313;
  margin-bottom: 10px;
}

.catText {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1.12px;
  font-weight: 400;
  color: #333;
  margin: 0 0 30px;
}

.link {
  color: #2e4395;
  text-decoration: underline;
}

.link:hover {
  outline: none;
  color: #000;
  text-decoration: underline;
}

.catLink {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.75s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
}

.catLinkText {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 45%;
  left: 0;
  transition: all 0.75s ease-in-out;
  opacity: 1;
  visibility: visible;
  margin: 0;
  padding: 8px 10px;
}

.catLink:hover {
  background-color: initial;
}

.catLink:hover .catLinkText {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1280px) {
  .container {
    padding: 0 3rem;
  }

  .catBox {
    width: calc(52% - 3rem);
    height: 300px;
    margin: 18px 12px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    margin: 10px auto 1rem;
  }

  .catTextBox {
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .catLinkText {
    top: 47%;
  }

  .catBox {
    width: 100%;
    height: 400px;
    margin: 4px 0;
  }

  .catLink {
    border: none;
  }
}
