.slider {
  height: 750px;
  background-color: #fff;
  width: 100%;
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}

.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide.active {
  transition: 1s;
  opacity: 1;
}

.slideTextBoxWrapper {
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
}

.slideTextBox {
  max-width: 500px;
  padding: 1rem 1.5rem;
  background: rgba(0, 0, 0, 0.6);
}

.slideTitle {
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0;
  font-size: 50px;
  font-family: "Libre Baskerville", serif;
}

.slideText {
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 1.12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px 0 10px;
  margin-top: 8px;
}

.button {
  margin: 1rem 0 2.3rem;
  padding: 0.75rem;
  width: 120px;
  text-align: center;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 10;
  background-color: #666;
  font-size: 1rem;
  transition: all 0.25s ease-in-out;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #fff;
}

.button:hover {
  background-color: #3f56ad;
}

.slideNavigation {
  z-index: 999;
  display: flex;
}

.slideIcon {
  z-index: 999;
  background: #666;
  width: 30px;
  height: 10px;
  margin: 0 10px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  transition: 0.25s ease-in-out;
}

.slideIcon:first-child {
  margin-left: 0;
}

.slideIcon:hover {
  background: #3f56ad;
}

.slideIcon.active:hover {
  transform: initial;
  opacity: initial;
  cursor: default;
}

.slideIcon.active {
  background: #3f56ad;
  opacity: 1;
}

.slideNavArrow {
  position: absolute;
  width: 60px !important;
  height: 60px !important;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 500;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  opacity: 0;
  transition: all 1sec ease-in-out;
}

.slider:hover .slideNavArrow {
  opacity: 1;
}

.slider:hover .slideNavArrow:hover {
  opacity: 0.75;
}

@media (max-width: 1600px) {
  .slider {
    height: 600px;
  }

  .slideTextBox {
    max-width: 360px;
  }

  .slideTitle {
    font-size: 36px;
  }
}

@media (max-width: 1280px) {
  .slider {
    height: 500px;
  }

  .slideTextBoxWrapper {
    margin: 0 0 0 2rem;
    width: 48%;
  }

  .slideTextBox {
    max-width: 340px;
  }

  .slideTitle {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .slider {
    height: 400px;
  }

  .slideTextBoxWrapper {
    margin: 0;
    width: 100%;
    align-items: end;
    z-index: 10;
  }

  .slideTextBox {
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: 0.5rem 40px 1rem;
    margin: 0 auto;
  }

  .slideTitle {
    font-size: 36px;
  }

  .slideText {
    display: none;
  }

  .button {
    margin: 1rem auto 2rem;
  }

  .slideNavigation {
    justify-content: center;
  }

  .slideNavArrow {
    top: 50%;
  }
}
