.container {
  height: 750px;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  background-color: #000;
  position: relative;
}

.arrowContainer {
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 50;
  opacity: 0.5;
}

.arrowContainer:hover {
  opacity: 0.75;
}

.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
  transition: all 1s ease-in-out;
}

.imgContainer {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.85;
}

.textBoxContainer {
  position: absolute;
  z-index: 10;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.textBox {
  max-width: 500px;
  padding: 16px;
}

.heroTitle {
  font-weight: 600;
  letter-spacing: 3px;
  margin: 10px 0 0;
  font-size: 50px;
  font-family: "Libre Baskerville", serif;
}

.heroText {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 1.12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px 0 10px;
  margin-top: 8px;
}

@media (max-width: 1600px) {
  .container {
    height: 600px;
  }

  .textBox {
    max-width: 360px;
  }

  .heroTitle {
    font-size: 38px;
  }

  .heroText {
    font-size: 12px;
  }
}

@media (max-width: 1280px) {
  .container {
    height: 500px;
  }

  .arrowContainer {
    width: 50px;
    margin: 0;
  }

  .textBoxContainer {
    margin: 0 1rem;
    width: 48%;
  }

  .textBox {
    max-width: 300px;
  }

  .heroTitle {
    font-size: 30px;
  }

  .heroText {
    font-size: 12px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .container {
    height: 400px;
  }

  .arrowContainer {
    margin: 0;
  }

  .textBoxContainer {
    margin: 0;
    width: 100%;
  }

  .textBox {
    text-align: center;
    max-width: 380px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .heroTitle {
    font-size: 24px;
  }

  .heroText {
    font-size: 10px;
    line-height: 20px;
  }
}
