.container {
  width: 100%;
  margin: 80px 0 0;
  padding: 0 1rem 10px;
  background-color: #131313;
}

.footer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 32px 3rem;
  display: flex;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.5;
}

.item {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #888;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.copyright {
  color: #888;
  text-align: right;
  margin: 16px;
  margin: 10px 0 0;
  width: 100%;
}

.logoWrapper {
  justify-content: center;
  opacity: 0.75;
  width: 100%;
  display: flex;
  padding: 1.25rem 0;
}

.addressWrapper {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
}

.addressWrapper h3 {
  font-size: 18px;
  margin: 0.5rem 0 0.25rem;
}

.addressWrapper address {
  font-style: normal;
}

.addressWrapper a {
  color: #ccc;
  text-decoration: underline;
}

.addressWrapper a:hover {
  color: #3f56ad;
}

@media (max-width: 1280px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
    margin: 80px 0 0;
  }

  .footer {
    flex-direction: column;
  }

  .addressWrapper {
    text-align: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
    line-height: 1.8;
    width: 100%;
    margin-top: 2rem;
  }

  .logoWrapper {
    text-align: center;
    margin: 1rem 0 1.5rem;
    padding: 0;
  }

  .item:first-of-type {
    order: 2;
  }

  .item:nth-of-type(2) {
    order: 1;
  }

  .item:last-of-type {
    order: 3;
  }
}
