.holidayBanner {
  width: 100%;
  max-width: 1224px;
  height: 150px;
  padding: 0;
  margin: 60px auto 0;
  background-color: #3f56ad;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.col1 {
  width: 50%;
  padding: 0.5rem;
  overflow: hidden;
}

.col2 {
  width: 50%;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.bannerTitle {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 2px;
  /* font-family: "Libre Baskerville"; */
  font-weight: 400;
  color: #fff;
  margin: 0.5rem 1rem 0.5rem;
}

.bannerText {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.12px;
  font-weight: 400;
  color: #fff;
  margin: 0.5rem 1rem 1rem;
}

.imgWrapper {
  display: flex;
}

.img {
  height: 275px;
  position: relative;
  top: -30px;
}

@media (max-width: 1280px) {
  .holidayBanner {
    height: auto;
  }

  .col1 {
    width: 40%;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
  }

  .col2 {
    width: 60%;
    height: 225px;
    overflow: hidden;
  }
}

@media (max-width: 992px) {
  .holidayBanner {
    height: auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  .col1 {
    width: 60%;
  }

  .col2 {
    width: 40%;
    height: 200px;
    overflow: hidden;
  }

  .imgWrapper:nth-of-type(2) {
    display: none;
  }

  .imgWrapper:last-of-type {
    display: none;
  }

  .imgWrapper {
    display: flex;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img {
    height: 200%;
    position: relative;
    top: 45px;
  }
}

@media (max-width: 786px) {
  .imgWrapper:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 576px) {
  .holidayBanner {
    flex-direction: column;
    padding: 1rem;
  }

  .col1 {
    width: 100%;
    padding: 0;
  }

  .bannerTitle {
    margin: 0.5rem 10;
    text-align: center;
  }

  .bannerText {
    margin: 0.5rem 0;
    text-align: center;
  }

  .col2 {
    width: 100%;
    height: 200px;
    margin-top: 0.5rem;
  }

  .imgWrapper {
    width: 100%;
    padding: 0;
    justify-content: center;
  }

  .img {
    height: 260%;
    top: 110px;
  }
}
