.container {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 1px solid #eee;
  z-index: 9999;
}

.navWrapper {
  max-width: 1228px;
  margin: 0 auto;
  display: flex;
  padding: 0 1rem;
}

.menuIcon {
  display: none !important;
}

.logoWrapper {
  margin-left: 20px;
  color: white;
}

.nav .logoWrapper {
  display: none;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
}

.item:last-child {
  justify-content: flex-end;
  flex: 3;
}

.navList {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: #131313;
  margin: auto;
}

.navListItem {
  margin: 1rem 0.5rem;
  padding: 0;
  border-bottom: 4px solid transparent;
  line-height: 1.5;
  font-weight: 600;
  color: #666;
  font-size: 12px;
  cursor: pointer;
  /* transition: all 0.25s ease-in; */
  text-align: center;
  min-width: 100px;
}

.navListItem:last-child {
  margin-right: 0;
}

.navListItem:hover {
  border-bottom: 4px solid #3f56ad;
}

.navListItem a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0.5rem 0;
}

@media (max-width: 1200px) {
  .logoWrapper {
    margin-left: 0;
    width: 300px;
    justify-content: center;
    display: flex;
  }

  .logoWrapper .logo {
    width: 100%;
    margin: 0 auto;
  }

  .menuIcon {
    color: #131313;
    position: fixed;
    top: 1.5rem;
    right: 3rem;
    cursor: pointer;
    z-index: 999;
    display: block !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
  }

  .item.nav {
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 66px;
    box-shadow: none;
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 500;
  }

  .mobile .item.nav {
    transform: translateX(0);
    box-shadow: 0 0 500px #000;
  }

  .mobileOverlay {
    display: none;
  }

  .mobile .mobileOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    display: block;
  }

  .nav .logoWrapper {
    display: block;
    width: initial;
    margin-top: 32px;
  }

  .navList {
    border-top: 1px solid #131313;
    border-bottom: 1px solid #131313;
    display: initial;
    margin: 50px 0 0;
    padding-top: 14px;
  }

  .navListItem {
    font-size: 16px;
    margin: 14px 8px 28px;
  }
}

@media (max-width: 768px) {
  .navWrapper {
    margin: 0;
  }

  .logoWrapper {
    width: 180px;
  }

  .logoWrapper .logo {
    width: 200px;
    margin: 0 auto;
  }

  .menuIcon {
    right: 2rem;
  }
}

@media (max-width: 650px) {
  .item.nav {
    max-width: none;
  }

  .logoLink {
    z-index: 10;
  }
}

@media (max-width: 300px) {
  .navWrapper {
    margin: 0 auto;
  }

  .menuIcon {
    display: none !important;
  }
}
