.container {
  height: 100px;
  padding: 0px 50px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #bbb;
}

.navWrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 0;
}

.menuIcon {
  display: none !important;
}

.logoWrapper {
  margin-left: 20px;
  color: white;
}

.nav .logoWrapper {
  display: none;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
}

.item:last-child {
  justify-content: flex-end;
  flex: 2;
}

.navList {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: #131313;
  margin: auto;
}

.navListItem {
  margin: 14px 14px 16px;
  padding: 10px 10px 4px;
  border-bottom: 4px solid transparent;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.25s ease-in;
  text-align: center;
  min-width: 120px;
}

.navListItem:last-child {
  margin-right: 0;
}

.navListItem:hover {
  border-bottom: 4px solid #3f56ad;
}

@media (max-width: 1280px) {
  .navListItem {
    margin: 14px 8px 16px;
    padding: 10px 8px 4px;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .logoWrapper {
    margin-left: 0;
    width: 300px;
    justify-content: center;
    display: flex;
  }

  .logoWrapper .logo {
    width: 100%;
    margin: 0 auto;
  }

  .menuIcon {
    color: #131313;
    position: fixed;
    top: 2.25rem;
    right: 3.6rem;
    cursor: pointer;
    display: block !important;
    z-index: 100;
  }

  .item.nav {
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 70px;
    z-index: 10;
    border-left: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .openNav.item.nav {
    transform: translateX(100%);
    /* transition: transform 0.2s ease-in; */
  }

  .closedNav.item.nav {
    transform: translateX(0);
  }

  .nav .logoWrapper {
    display: block;
    width: initial;
    margin-bottom: 20px;
  }

  .navList {
    border-top: 1px solid #131313;
    display: initial;
    margin: 0;
    padding-top: 24px;
  }

  .navListItem {
    font-size: 16px;
    margin: 14px 8px 28px;
  }
}

@media (max-width: 768px) {
  .logoWrapper {
    width: 180px;
  }

  .logoWrapper .logo {
    width: 200px;
    margin: 0 auto;
  }
}
